@model GenerateurDFUSafir.Models.GestionTraitementOFs
@{
    ViewBag.Title = "CaptureOCR";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/CaptureOCR.css" rel="stylesheet" />
}

<body onload="init()">
    <h1>
        Bonjour !
    </h1>
</body>