<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="PEGASE" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <PEGASE>
    <add key="MTIsPld" value="true"/>
    <add key="FileiDialogLangPath" value="Y:\iDialogTest\Data_support\Languages"></add>
    <add key="FilePicturePath" value="Y:\iDialogTest\Data_support\Default Icons"></add>
  </PEGASE>

  <connectionStrings>
    <add name="PEGASE_PRODEntities" connectionString="metadata=res://*/PEGASEPROD.csdl|res://*/PEGASEPROD.ssdl|res://*/PEGASEPROD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2\;initial catalog=PEGASE_PROD;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="PEGASE_PROD2Entities" connectionString="metadata=res://*/PEGASEPROD2.csdl|res://*/PEGASEPROD2.ssdl|res://*/PEGASEPROD2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2\;initial catalog=PEGASE_PROD2;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
