<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, visitez
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TypeEtiquetteEmballage" value="TYPE_354140A" />
  </appSettings>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
	  <sessionState mode="InProc" timeout="20" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.6" />
    <identity impersonate="true" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="x160Entities" connectionString="metadata=res://*/Models.DAL.DAL_X3.csdl|res://*/Models.DAL.DAL_X3.ssdl|res://*/Models.DAL.DAL_X3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CXWFRSAI-SV0197\SAGEX3V12;persist security info=True;user id=CLTPROD;password=8hpyY6m9HpdY;MultipleActiveResultSets=True;encrypt=true;trustServerCertificate=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEGASE_STAMPEntities" connectionString="metadata=res://*/Models.DAL.STAMP_LOG.csdl|res://*/Models.DAL.STAMP_LOG.ssdl|res://*/Models.DAL.STAMP_LOG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2;initial catalog=PEGASE_STAMP;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEGASE_PRODEntities" connectionString="metadata=res://*/PEGASEPROD.csdl|res://*/PEGASEPROD.ssdl|res://*/PEGASEPROD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2\;initial catalog=PEGASE_PROD;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEGASE_PROD2Entities" connectionString="metadata=res://*/PEGASEPROD2.csdl|res://*/PEGASEPROD2.ssdl|res://*/PEGASEPROD2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2\;initial catalog=PEGASE_PROD2;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEGASE_PROD2Entities1" connectionString="metadata=res://*/DAL.OPERATEURS.csdl|res://*/DAL.OPERATEURS.ssdl|res://*/DAL.OPERATEURS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2;initial catalog=PEGASE_PROD2;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEGASE_PROD2Entities2" connectionString="metadata=res://*/Models.DAL.PROD2.csdl|res://*/Models.DAL.PROD2.ssdl|res://*/Models.DAL.PROD2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2;initial catalog=PEGASE_PROD2;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEGASE_PROD2Entities3" connectionString="metadata=res://*/ Models.DAL.Model1.csdl|res://*/Models.DAL.Model1.ssdl|res://*/Models.DAL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2\;initial catalog=PEGASE_PROD2;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEGASE_CHECKFPSEntities" connectionString="metadata=res://*/Models.DAL.CHECKFPS.csdl|res://*/Models.DAL.CHECKFPS.ssdl|res://*/Models.DAL.CHECKFPS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2\;initial catalog=PEGASE_CHECKFPS;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEGASE_CHECKFPSEntities1" connectionString="metadata=res://*/Models.DAL.CHECKFPS.csdl|res://*/Models.DAL.CHECKFPS.ssdl|res://*/Models.DAL.CHECKFPS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2;initial catalog=PEGASE_CHECKFPS;persist security info=True;user id=sa;password=sql_2008;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GAMME_UD_UR_UCEntities" connectionString="metadata=res://*/Models.DAL.GAMME_UD_UR_UC.csdl|res://*/Models.DAL.GAMME_UD_UR_UC.ssdl|res://*/Models.DAL.GAMME_UD_UR_UC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2\;initial catalog=GAMME_UD_UR_UC;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="x160Entities1" connectionString="metadata=res://*/Models.DAL.ModelOF1.csdl|res://*/Models.DAL.ModelOF1.ssdl|res://*/Models.DAL.ModelOF1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CXWFRSAI-SV0197\SAGEX3V12;initial catalog=x112p;persist security info=True;user id=CLTPROD;password=8hpyY6m9HpdY;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEGASE_PRODEntities1" connectionString="metadata=res://*/Models.DAL.PROD.csdl|res://*/Models.DAL.PROD.ssdl|res://*/Models.DAL.PROD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2;initial catalog=PEGASE_PROD;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GAMME_KEPLEREntities" connectionString="metadata=res://*/Models.DAL.KEPLER.csdl|res://*/Models.DAL.KEPLER.ssdl|res://*/Models.DAL.KEPLER.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2;initial catalog=GAMME_KEPLER;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEGASE_PRODEntities2" connectionString="metadata=res://*/Models.DAL.PROD.csdl|res://*/Models.DAL.PROD.ssdl|res://*/Models.DAL.PROD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2;initial catalog=PEGASE_PROD;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEGASE_PRODEntities3" connectionString="metadata=res://*/Models.DAL.PROD.csdl|res://*/Models.DAL.PROD.ssdl|res://*/Models.DAL.PROD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2;initial catalog=PEGASE_PROD;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEGASE_GENERIQUEEntities" connectionString="metadata=res://*/Models.DAL.PEGASE_GENERIQUE.csdl|res://*/Models.DAL.PEGASE_GENERIQUE.ssdl|res://*/Models.DAL.PEGASE_GENERIQUE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2;initial catalog=PEGASE_GENERIQUE;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PEGASE_CONTROLEntities" connectionString="metadata=res://*/Models.DAL.CONTROLPACK.csdl|res://*/Models.DAL.CONTROLPACK.ssdl|res://*/Models.DAL.CONTROLPACK.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2;initial catalog=PEGASE_CONTROL;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TRACA_OUTILSEntities" connectionString="metadata=res://*/Models.DAL.ModelTRACAPROD.csdl|res://*/Models.DAL.ModelTRACAPROD.ssdl|res://*/Models.DAL.ModelTRACAPROD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAYSVRPEGASE2;initial catalog=TRACA_OUTILS;persist security info=True;user id=sa;password=sql_2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp>
        <network defaultCredentials="false" host="smtp.laposte.net" password="Conductix=1IIS" port="465" userName="iisProd.Conductix" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>