@model GenerateurDFUSafir.Models.DataOperateurProd
@{
    ViewBag.Title = "ErreurModifOp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/ConnexionOperateur.css" rel="stylesheet" />
}

<body onload="init()">
    <div id="fondTransparent"></div>
    <div id="login-container">
        <div id="introduction">
            <h2 id="title">ConnecZEN</h2>
        </div>
        <div id="digi-container">
            <div>
                <p>
                    Nous n'avons pas réussi à faire les modifications. <br />
                    Veuillez réessayer sans ajouter de photo ou parler en à Christian si cela continu.
                </p>
            </div>
        </div>
    </div>
</body>
