/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

.imageoperateur {
    display: grid;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 30px;
    margin-bottom: 15px;
    border-radius: 50%;
    border: 3px solid #F26222;
}

.imageoperateur:hover {
    cursor: pointer;
    filter: brightness(50%);
}
/*
.icon-photo {
    width: 100%;
    height: 100%;
    
}*/

.profil-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 50px;
    width: 350px;
    background-color: #F9F9F9;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-left: 4px solid #F26222;
    transition: 0.2s;
    max-width: 90vw;
    align-items: center;
    height: 350px;
    margin: 20px;
}

.profile-list {
    margin-top: 50px;
}

.global-stc {
    display: flex;
}

.box-conductix {
    background-color: #F9F9F9;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-left: 4px solid #F26222;
    transition: 0.2s;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 500px;
    height: 350px;
    margin: 20px;
}

.nom-prenom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nom, #prenom {
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 700;
    font-size: 25px;
    color: #F26222;
}

.box-conductix.clickable:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}


.bloc-btn {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.option-buttons {
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    background-color: #F9F9F9;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: none;
    border-left: 4px solid #F26222;
    transition: 0.2s;
    max-width: 90vw;
    justify-content: flex-start;
    height: 50px;
    font-weight: 700;
    font-size: 25px;
    color: #F26222;
    text-align: left;
    padding-left: 20px;
    width: 350px;
}

a, a:hover{
    text-decoration: none;
    color: #F26222;
    padding-top: 8px;
}

.option-buttons:hover, a:hover {
    cursor: pointer;
    filter: brightness(110%);
}

@media all and (max-width: 790px) {
    .name-table {
        padding: 0;
        width: 15%;
    }

    .main-table {
        width: 90%;
    }
}


#graph {
    position: relative;
    width: 660px;
    height: 216px;
    margin: 8px;
    padding: 0;
}

 

#graph ul {
    position: absolute;
    top: 0;
    left: 32px;
    width: 600px;
    height: 200px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#graph li {
    position: absolute;
    list-style: none;
    background: lightblue;
    width: 40px;
    text-align: center;
    border: 1px solid black;
    visibility: hidden;
}

.graph-list {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin-top: 50px;
}


.graph-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    padding-bottom: 50px;
    margin: 20px;
    transform: scale(1);
    cursor: pointer;
    width: 500px;
    height: 350px;
}

.graph-box .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

    .graph-box .header i {
        font-size: 25pt;
        opacity: 50%;
    }

    .graph-box .header h3 {
        margin: 0px;
        font-weight: bold;
        font-variant: small-caps;
        opacity: 80%;
        font-size: 15pt;
    }


.graph-box i:hover {
    opacity: 100%;
}

.graph-box canvas {
    flex-grow: 1;
}

.fullscreen {
    position: fixed;
    width: 80vw;
    height: 80%;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    z-index: 10;
    animation-name: openGraph;
    animation-duration: 0.5s;
}

.transparent-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 50%;
    z-index: 5;
}

@media all and (max-width: 960px) {
    .global-stc{
        flex-direction: column;
        align-items: center;
    }

    .option-buttons, .profil-box {
        width: 500px;
    }

}

@media all and (max-width: 700px) {
    .fullscreen-btn {
        visibility: hidden;
    }
}

@keyframes openGraph {
    from {
        transform: translateX(-50%) scale(0)
    }

    to {
        transform: translateX(-50%) scale(1)
    }
}
