.body-content {
    margin: 0 auto;
    width: 75%;
}

    .body-content footer {
        float: left;
    }

/*Positionnement des éléments du bandeau (Logo, titre et bouton d'ajout d'opérateur)*/
#bandeau {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Paramètre du logo*/
#logo {
    position: static;
    display: block;
    width: 300px;
    height: auto;
}

/*Paramètre du titre "Gestion opérateurs"*/
#titre {
    font-size: 50px;
    font-weight: bold;
    margin: 1em 0;
}

/*Paramètres du bouton pour l'ajout d'opérateur*/
#add {
    background-color: #F26222;
    color: white;
    border-radius: 1em;
    border-block-color: #231F20;
    height: 2.5em;
    font-size: 2em;
    padding: 5px 0.3em 0.1em 0.3em;
}

    #add:hover {
        background-color: #818285;
        color: white;
    }

/*css pour le menu de selection du service*/
#FiltreService {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px 0;
}

#FiltreSaisieService {
    width: 200px;
    height: 40px;
    margin-left: 15px;
}

#FiltreConfirmationService {
    background-color: #F26222;
    color: white;
    border: 1px solid black;
    border-radius: 1em;
    border-block-color: #231F20;
    font-size: large;
    height: 40px;
    margin-left: 30px;
}

    #FiltreConfirmationService:hover {
        background-color: #818285;
        color: white;
    }
/*Positionnement tableau de liste des opérateurs*/
#contenant-liste {
    height: 700px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*Paramètres du tableau de liste des opérateurs*/
#liste {
    position: sticky;
    top: 0;
    width: 100%;
    margin-top: 2%;
}

    /*Arrondi des angles du tableau*/
    #liste tr:first-child {
        border-top-left-radius: 4em;
        border-top-right-radius: 4em;
        border: 2px solid;
        border-collapse: separate;
    }

    #liste tr:last-child {
        border-bottom-left-radius: 4em;
        border-bottom-right-radius: 4em;
        border: 2px solid;
        border-collapse: separate;
    }

    /*Couleurs des lignes du tableau*/
    #liste tr:nth-child(even) {
        background-color: #708090;
    }

    #liste tr:nth-child(odd) {
        background-color: #D3D3D3;
    }

/*Paramètres des lignes du tableau*/
#ligneOp {
    /*Position relative pour le positionnement des objets en postion "absolute" de la ligne (ex : le logo Animateur)*/
    /*position:relative;*/

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-collapse: collapse;
}

    /*Paramètres pour les éléments des lignes du tableau*/
    #ligneOp td {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

#zone-pp {
    position: relative;
}

/*Paramètres pour la photo de profil*/
#pp {
    height: 200px;
    width: 175px;
    margin: 5%;
    border-radius: 4em;
    border: 2px solid;
}

/*Position du logo Animateur, position absolute pour le sortir du flu et pouvoir le placer plus facilement*/
#contenant-Anim {
    position: absolute;
    top: 0;
    left: 70%;
}
/*Dimensions du logo Animateur*/
#anim {
    width: 4.5em;
    height: 4.5em;
}

/*Dimensions et position des champs nom et prénom*/
#NomPrenom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 600px
}

#nom {
    width: 300px;
    padding: 0 10%;
    text-align: left;
}

#prenom {
    width: 300px;
    padding: 0 10%;
    text-align: left;
}

/*Paramètres pour les éléments textuel du tableau*/
.text {
    font-size: x-large;
}

/*Dimension des éléments "Anniversaire" et "Fin de Contrat"*/
/*Position static et Display block permet de faire apparaitre l'élément pour la taille d'écran ordinateur (masquer sur tablette)*/
#contenant-date {
    width: 180px;
    position: static;
}

#date {
    display: block;
}

/*Paramètres du bouton pour la modification d'opérateur*/
#contenant-modif {
    position: static;
    margin-right: 3em;
}

#modif {
    display: block;
    background-color: #F26222;
    color: white;
    font-size: larger;
    border-radius: 1em;
    border-block-color: #231F20;
    font-size: 2.5em;
    padding: 0.1em 0.3em 0.1em 0.3em;
}

    #modif:hover {
        background-color: #818285;
        color: white;
    }

/*Paramètres du bouton (format tablette) pour la modification d'opérateur*/
/*Masquer dans le css  pour écran d'ordinateur*/
#contenant-modif-reduit {
    position: absolute;
    margin-right: 3em;
}

#modif-reduit {
    display: none;
    background-color: #F26222;
    color: white;
    font-size: larger;
    border-radius: 1em;
    border-block-color: #231F20;
    font-size: 2.5em;
}

    #modif-reduit:hover {
        background-color: #818285;
        color: white;
    }

body {
    width: 100%;
    text-align: center;
    font-family: arial;
    margin: 0 auto; /*permet un centrage de l'element*/
    /*background-image: url('../Images/background_grey.gif');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    overflow:auto;
    background-size: 100% 100%;*/
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.body-content {
    margin: 0;
    width: 75%;
}

    .body-content footer {
        float: left;
    }

/*css pour la fenetre de création d'un nouvel opérateur*/
#Contenant-PopUpFormOp {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

#fondTransparent {
    z-index: 2;
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#PopUpFormOp {
    z-index: 3;
    width: 95%;
    height: 80%;
    max-width: 900px;
    min-width: 500px;
    background: #fff;
    border-radius: 5px;
    transition: 200ms ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
}

#close-PopUpFormOp {
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: #ff365e;
    color: #fff;
}

/*css pour le formulaire d'un nouvel opérateur*/

/*Bandeau du formulaire*/
#PopUpFormOp h1 {
    background: #F26222;
    color: white;
    margin: 0px;
    padding: 20px 0 10px 0;
}

/*Contenant du formulaire*/
#Formulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*css pour les lignes nom et prénom du formulaire*/
#FormNomPrenom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#FormNom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 30px;
    width: 500px;
}

    #FormNom h3 {
        margin: 20px 0 10px 0;
    }

    #FormNom input {
        margin: 20px 0 10px 15px;
    }

#FormPrenom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    #FormPrenom h3 {
        margin: 20px 0 10px 0;
    }

    #FormPrenom input {
        margin: 20px 0 10px 15px;
    }

/*css pour les lignes date anniversaire et fin de contrat du formulaire*/
#FormContenantDate {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#FormDateAnniv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 30px;
    width: 500px;
}

    #FormDateAnniv h3 {
        margin: 20px 10px 10px 0;
    }

    #FormDateAnniv input {
        margin: 20px 10px 10px 0;
        height: 30px;
    }

#FormDateFinContrat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    #FormDateFinContrat h3 {
        margin: 20px 10px 10px 0;
    }

    #FormDateFinContrat input {
        margin: 20px 10px 10px 0;
        height: 30px;
    }

#ServiceAnim {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*Bouton Animateur/Animatrice*/
#FormAnimateur {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 30px;
    width: 500px;
}

#FormAnimateurTitre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#FormAnimateurBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#AnimOui, #AnimNon {
    margin: 20px 40px 10px 40px;
}

/*Selection du service*/
#FormContenantService {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

    #FormContenantService h3, #FormSaisieService {
        margin: 20px 10px 10px 0;
    }

/*Bouton de sauvegarde*/
#FormSubmit {
    height: 50px;
    margin: 20px 0;
}

#SaveBtn {
    height: 35px;
    background-color: #F26222;
    color: white;
    font-size: initial;
    border: 2px solid black;
    border-radius: 1em;
    border-block-color: #231F20;
    margin: 5px 0;
    padding: 0.1em 0.3em 0.1em 0.3em;
}

    #SaveBtn:hover {
        background-color: #818285;
        color: white;
    }

#Cancel-Form {
    height: 35px;
    background-color: #F26222;
    color: white;
    font-size: initial;
    border: 2px solid black;
    border-radius: 1em;
    border-block-color: #231F20;
    margin: 5px 0;
    padding: 0.1em 0.3em 0.1em 0.3em;
}

    #Cancel-Form:hover {
        background-color: #818285;
        color: white;
    }

/*////////////////*/
#FormContenantWebcam h3 {
    text-align: left;
    margin-left: 30px;
}

#FormContenantPhotoProfil {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#FormPhotoProfil {
    height: 250px;
    width: 220px;
    margin: 5%;
    border-radius: 4em;
    border: 2px solid;
}

#ChangeppMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.FormppBtn {
    height: 35px;
    min-width: 160px;
    background-color: #F26222;
    color: white;
    font-size: initial;
    border: 2px solid black;
    border-radius: 0.5em;
    border-block-color: #231F20;
    margin: 10px 20%;
    padding: 0.1em 0.3em 0.1em 0.3em;
}

#ChangeppCamera {
    height: fit-content;
}

    #ChangeppCamera:hover {
        background-color: #818285;
        color: white;
    }

#PrendreButtonPhoto {
    margin-bottom: 65px;
}

#ReprendreButtonPhoto {
    margin-bottom: 65px;
}

#WebcamOn {
    position: absolute;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10%;
}

#video {
    position: initial;
}

#Cadre {
    position: absolute;
    z-index: 2;
    border-color: black;
    border: 3px solid black;
    background-color: transparent;
    width: 150px;
    height: 200px;
}

#WebcamMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*css pour écran plus petit, principalement les tablettes du service de production*/
@media screen and (max-width: 1100px) {
    /*Réajustement des dimensions et du positionnement des éléments de l'entête*/
    #bandeau {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    #logo {
        margin: 0 10% 0 0;
    }

    #titre {
        font-size: 38px;
        margin: 0 5% 0 0;
    }

    #add {
        margin: 0 10% 0 0;
    }

    /*Réajustement des dimensions et du positionnement des éléments du tableau des opérateurs*/
    #contenant-liste {
        margin-top: 10px;
        height: 900px;
    }

    #pp {
        height: 200px;
        width: 175px;
        margin: 5%;
        border-radius: 4em;
        border: 2px solid;
    }

    #contenant-Anim {
        top: 0;
        left: 70%;
    }

    #anim {
        width: 5em;
        height: 5em;
    }

    #NomPrenom {
        width: 400px
    }

    #nom {
        width: 200px;
    }

    #prenom {
        width: 200px;
    }

    #contenant-date {
        position: absolute;
    }

    #date {
        display: none;
    }

    /*Paramètres du bouton pour la modification d'opérateur*/
    #contenant-modif {
        position: absolute;
    }

    #modif {
        display: none;
    }

    /*Paramètres du bouton (format tablette) pour la modification d'opérateur*/
    #contenant-modif-reduit {
        position: static;
    }

    #modif-reduit {
        display: block;
        width: 90px;
        height: 90px;
    }

    #gear {
        width: 50px;
        height: 50px;
    }

    /*css pour le formulaire*/

    /*css pour les lignes nom et prénom du formulaire*/
    #FormNomPrenom {
        flex-direction: column;
        justify-content: space-around;
    }

    #FormNom {
        justify-content: flex-start;
        margin-left: 150px;
    }

    #FormPrenom {
        justify-content: flex-start;
        margin-left: 150px;
    }

    /*css pour les lignes date du formulaire*/
    #FormContenantDate {
        flex-direction: column;
        justify-content: space-around;
    }

    #FormDateAnniv {
        justify-content: flex-start;
        margin-left: 150px;
    }

    #FormDateFinContrat {
        justify-content: flex-start;
        margin-left: 150px;
    }

    /*css pour les lignes Animateur et Service du formulaire*/
    #ServiceAnim {
        flex-direction: column;
        justify-content: space-around;
    }

    /*Bouton Animateur/Animatrice*/
    #FormAnimateur {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 150px;
    }

    #FormAnimateurTitre {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    #FormAnimateurBtn {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    #AnimOui, AnimNon {
        margin: 0 50px;
    }

    #FormContenantService {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 150px;
    }

        #FormContenantService h3 {
            display: flex;
            flex-direction: row;
            justify-content: flex-start
        }
}

/*css pour les écrans encore plus petit, pour les portables*/
@media screen and (max-width: 795px) {
    #bandeau {
        justify-content: flex-end;
    }

    #logo {
        width: 200px;
        height: auto;
        margin-right: 25%;
    }

    #titre {
        font-size: 25px;
        margin: 1em 30px 1em 0.5em;
    }

    #add {
        width: 37.5%;
        max-width: 225px;
        min-width: 180px;
        height: 50%;
        margin: 0 30px 0 18em;
        font-size: 1.5em;
    }

    #pp {
        height: 160px;
        width: 140px
    }

    #contenant-Anim {
        top: 0;
        left: 80%;
    }

    #anim {
        width: 3em;
        height: 3em;
    }

    #NomPrenom {
        flex-direction: column;
        width: 150px;
    }

    #nom {
        width: 100%;
        font-size: 150%;
    }

    #prenom {
        width: 100%;
        font-size: 150%;
    }
}

@media screen and (max-width: 660px) {
    #logo {
        margin-right: 15%;
    }
}

@media screen and (max-width: 585px) {
    h2 {
        margin: 0;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }

    #bandeau {
        justify-content: space-around;
    }

    #logo {
        position: absolute;
        display: none;
    }

    #titre {
        margin: 3% 0;
    }

    #add {
        margin: 0 5%;
    }

    #contenant-liste {
        height: 400px;
    }

    /*Arrondi des angles du tableau*/
    #liste tr:first-child {
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
    }

    #liste tr:last-child {
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }

    #pp {
        height: 80px;
        width: 70px
    }

    #contenant-Anim {
        top: 0;
        left: 80%;
    }

    #anim {
        width: 2em;
        height: 2em;
    }

    #contenant-modif-reduit {
        margin-right: 5%;
    }

    #modif-reduit {
        width: 40px;
        height: 40px;
        position: relative;
    }

    #gear {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 13%;
        left: 13%;
    }

    #PopUpFormOp {
        min-width: 0;
        top: 55%;
        left: 45%;
    }

        #PopUpFormOp h1 {
            font-size: 18px;
        }

    #close-PopUpFormOp {
        margin-top: 5px;
        padding: 6px 7.5px;
        border-radius: 5px;
        font-size: 10px;
    }

    #FormNom {
        margin-left: 15px;
    }

    #FormPrenom {
        margin-left: 15px;
    }

    #FormDateAnniv {
        margin-left: 15px;
    }

    #FormDateFinContrat {
        margin-left: 15px;
    }

    #FormAnimateur {
        margin-left: 15px;
    }

    #FormContenantService {
        margin-left: 15px;
    }

    #FormContenantWebcam h3 {
        margin-left: 15px;
    }

    #FormContenantPhotoProfil {
        flex-direction: column;
    }

    #FormPhotoProfil {
        height: 220px;
        width: 190px;
    }


    #ChangeppCamera {
        width: 160px;
    }

    .FormppBtn {
        font-size: 14px;
        margin: 10px;
    }

    #WebcamOn {
        flex-direction: column;
    }

    #PrendreButtonPhoto {
        margin-bottom: 10px;
        max-width: 280px;
    }

    #ReprendreButtonPhoto {
        margin-bottom: 10px;
        max-width: 280px;
    }

    #AnnulerButtonPhoto {
        max-width: 280px;
    }
}

/*@media screen and (max-width: 520px) 
{
    #PopUpFormOp {
        width: 90%;
    }
}*/
