@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



hr {
    margin: 5px 0;
    padding: 0;
}

h1 {
  font-weight: normal;
  font-size: 32px;
}
.container {
    padding-left: 5px;
    padding-right: 0;
}

/* bandeau */
.body-content { /* permet de gerer les conflits avec les autres css car il y avait une marge gauche qui décalé le site */
    margin-left: 0;
    width: 100%; /* permet aussi de gerer les conflits car la largeur ne prenait pas 100% */
}

#bandeau {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    /*
    background-image: url(../image/test.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    */

}

/* tablette et smartphone */
@media screen and (max-width: 1080px) {
  #bandeau {
    flex-direction: column;
  }
}

#mainTitle { /* titre h1 */
  padding-left: 50px;
  font-weight: normal;
}

@media screen and (max-width: 1080px)  {
  #mainTitle {
    text-align: center;
    padding: 0;
  }
}

/* contenu de la page : englobe tout le contenu */
#contenuPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

/* colonne de gauche */

#infoProd {
  width: 70%;
}

@media all and (max-width: 1080px) {
  #infoProd {
    width: 100%;
  }
}

/*premiere ligne de la  colonne de gauche */

#securite-qualite {
  display: flex;
  justify-content: space-between;
  align-items:  stretch;
}

#securite, #qualite {
   padding-top: 10px;
}

@media all and (max-width: 1550px) {
  #securite-qualite {
      flex-direction: column;
  }
}

#securite {
    border-radius: 5px;
    padding-top: 20px;
    width: 49.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid grey;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0.2);
}

    #securite #securiteTitle {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        color: white;
        background-color: #FF6600;
        margin: 0;
        padding: 0;
        padding: 12px;
        text-align: center;
        border-radius: 0 0 0px 5px;
        font-size: 17px;
    }


#green-cross {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#infos-securite {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#qualite {
    border-radius: 5px;
    width: 49.5%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 20px;
    border: 1px solid grey;
    flex-wrap: wrap;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0.2);
   
}

    #qualite #qualiteTitle {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        color: white;
        background-color: #FF6600;
        margin: 0;
        padding: 0;
        padding: 12px;
        text-align: center;
        border-radius: 0 0 0px 5px;
        font-size: 17px;
    }

#Q-cross {
    border-radius: 5px;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#infos-qualite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 50%;

}

@media all and (max-width: 1550px) {
  #securite, #qualite {
    width: 100%;
  }
}

@media all and (max-width: 600px) {
    #securite, #qualite {
      flex-direction: column;
      justify-content: flex-start;
    }

    #green-cross, #Q-cross, #infos-securite, #infos-qualite {
      width: 100%;
    }
    #qualite #qualiteTitle {
        margin-top: 15px;
    }
    #DivCases {
        padding-top: 16px;
    }
}

/* fin premiere ligne de la  colonne de gauche */

/* debut deuxieme ligne colonne de gauche */

#production-idee {
  display: flex;
  justify-content: space-between;

}

#production {
    width: 49.5%;
    border: 1px solid grey;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#production-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#prof-left-title {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
    background-color: #FF6600;
    margin: 0;
    padding: 0;
    padding: 12px;
    text-align: center;
    border-radius: 0 0 0px 5px;
    font-size: 17px;
}

#production-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#production-left h4 {
    text-align: center;
}

#idee {
    width: 49.5%;
    border: 1px solid grey;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#idee-left, #idee-right {
    width: 50%;
}

#idee-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#idee-leftTitle {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
    background-color: #FF6600;
    margin: 0;
    padding: 0;
    padding: 12px;
    text-align: center;
    border-radius: 0 0 0px 5px;
    font-size: 17px;
}

#idee-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#idea, #meeting {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    margin-top: 9px;
}

@media all and (max-width: 1080px) {

  #production-idee {
      flex-direction: column;
  }

  #production, #idee {
    width: 100%;
  }
}

/* fin de la deuxieme ligne de la  colonne de gauche */

/* debut troisieme ligne colonne de gauche */


#otd-AIC {
  display: flex;
  justify-content: space-between;
}

#otd {
    border: 1px solid grey;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 49.5%;
    display: flex;
    justify-content: space-between;
}

#otd-pic {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: 0 auto;
    margin-top: 16px;
}

#otd-left, #otd-right {
    width: 50%;
}

#otd-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#otd-leftTitle {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
    background-color: #FF6600;
    margin: 0;
    padding: 0;
    padding: 12px;
    text-align: center;
    border-radius: 0 0 0px 5px;
    font-size: 17px;
}

#otd-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#AIC, #Plannif {
    width: 49.5%;
    border: 1px solid grey;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#AIC-pic, #Plannif-pic {
  width: 100%;
}

#AIC-left, #AIC-right, #Plannif-left, #Plannif-right {
    width: 50%;
}

.AIC-link, .Plannif-link {
    display: block;
    width: 200px;
    text-align: center;
    border: 2px solid rgb(250, 120, 0);
    color: black;
    padding: 9px 12px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0.2);
    text-decoration: none;
}

.AIC-link:hover, .AIC-link:active,.AIC-link:link, .Plannif-link:hover, .Plannif-link:active, .Plannif-link:link {
    text-decoration: none !important;
    color: black;
}

#AIC-left, #Plannif-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#AIC-leftTitle, #Plannif-leftTitle {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
    background-color: #FF6600;
    margin: 0;
    padding: 0;
    padding: 12px;
    text-align: center;
    border-radius: 0 0 0px 5px;
    font-size: 17px;
}

#AIC-right, #Plannif-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 1080px) {
  #otd-AIC {
    flex-direction: column;
  }

  #otd, #AIC, #Plannif {
    width: 100%;
  }
}

/* fin troisieme ligne colonne de gauche */

/* colonne de droite */

#newsletter {
  width: 30%;
}

/*zone où apparait tous les pdf */

#pdfNewsletter {
 
  width: 100%;
  height: 900px;
}

/* tablette et smartphone */
@media screen and (max-width: 1080px) {

  #newsletter, #infoProd {
    width: 100%;
  }

  #contenuPage {
    flex-direction: column;
  }

  #testImage {
    max-width: 100%;
  }

}

/* en savoir plus button image */

.enSavoirPlusContainer {
  position: relative;
  width: 160px;
  color: white;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.enSavoirPlusContainer a {
  color: white;
}

.centered-text-on-pic { /* pour centrer le texte sur l'image */
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enSavoirPlusPic {
  margin: 0;
  width: 100%;
}

/* générique */

#bandeau .prodPic {
    border-radius: 100%;
    width: 0px;

    background-color: white;
}

.ligne-1-animation .prodPic {
    margin-bottom: 5px;
}

.centered {
    margin: 0 auto;
}

h2 {
  text-align: center;
  font-weight: normal;
  color: white;
  margin: 0;
  padding: 0;
  padding: 10px 20px;
}

h3 {
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 0;
}


.btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}

.btn-grad {
  width: 90%;
  margin: 0 auto;
  max-width: 250px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  }

  .round {
    aspect-ratio: 1/1;
    border-radius: 100%;
  }

  .grey-border {
    border: 2px solid grey;
  }

/*---------------------------- GreenCross -------------------------------------*/
#greenCross /* 7 lignes 7 colonnes */ {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 50px;
    background-size: 92% 92%;
    background-repeat: no-repeat;
    background-position: 50% 55%;
    /*background-image: url('../image/GreenCross.png');*/
}

/* ligne de la green cross*/
.greenCrossRow {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* case de la green cross */

.greenCrossCase {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    align-items: center;
    box-sizing: border-box; /* => (largeur case + bordure = 50px) */
    border: 1px solid grey;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0.2);
}

@media all and (max-width: 1080px) {
  /* .greenCrossCase {
       width: 42px;
       height: 42px;
        aspect-ratio: 1/1;
    } */
}



.greenCrossCase::before {
    content: "";
    display: block;
    padding-top: 100%;
}


/* pour ne pas afficher les cases qui n'ont pas de bordure */

.hiddenCase {
    border: none;
    display : none;
}

.topleft {
    border-radius: 25% 0% 0% 0%;
}

.topright {
    border-radius: 0% 25% 0% 0%;
}

.bottomleft {
    border-radius: 0% 0% 0% 25%;
}

.bottomright {
    border-radius: 0% 0% 25% 0%;
}
/*---------------------------- Fin GreenCross -------------------------------------*/

/* ---------------------------------- Debut Q CROSS ------------------------------------------*/

#Q-CrossTitle {

}

#Q-Cross {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Q-CrossRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* case de la green cross */

.Q-CrossCase {
    aspect-ratio: 1/1;
    width: 25px; /* changer juste cette valeur pour regler la taille de la Q-cross */
    display: flex; /* pour center le texte à l'interieur  */
    justify-content: center; /* pour center le texte horizontalement  */
    align-items: center; /* pour center le texte verticalement  */
    box-sizing: border-box; /* => (largeur case + bordure = 60px) */
}

/* max width 200 px */

@media all and (max-width: 200px) {
    .Q-CrossCase {
        font-size: 5vw; /* => 5% largeur du viewport */
    }
}

@media all and (max-width: 1080px) {
    #Q-Cross {
        width: 100%;
        margin: 0 auto;
        max-height: 300px;
    }
}

/*
@media all and (max-width: 1080px) {
    #Q-Cross {
        display: initial;
        margin-left: initial;
    }
} */
/* background case par defaut */
.bg-case {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0.2);
}

/* background case verte */

.bg-case-verte {
    background-color: #5cb85c;
}

.vert {
    background-color: #22b14c; /* nombre de FRC == 0 => case verte ici */
    color: white;
}

/* background case rouge */

.bg-case-rouge {
    background-color: #d9534f;
}

.rouge {
    background-color: #d9534f; /* nombre de FRC >= 1 => case rouge  */
    color: white;
}

.gris {
    background-color: lightgrey; /* jour aprés le jour courant => case grise */
}

/* bordures style 1 */

.right {
    border-right: 3px solid grey;
}

.bottom {
    border-bottom: 3px solid grey;
}

.top {
    border-top: 3px solid grey;
}

.left {
    border-left: 3px solid grey;
}


/* fin bordure contour */

.jour-inexistant {
    background-color: dimgrey;
   /* 
      couleur gris foncé 
      le jour n'existe pas dans le mois courant
      ex: si mois courant = fevrier, alors le fond de la case aura cette couleur dans la Q-Cross
    */
}

/* bordure style 2 */

.arrondi-hg {
    border-radius: 7px 0px 0px 0px;
}

.arrondi-hd {
    border-radius: 0px 7px 0px 0px;
}

.arrondi-bg {
    border-radius: 0px 0px 0px 7px;
}

.arrondi-bd {
    border-radius: 0px 0px 7px 0px;
}

.arrondi-hd-bd {
    border-radius: 0px 7px 7px 0px;
}

/* pour ne pas afficher les cases qui n'ont pas de bordure */

.hiddenCase {
    border: none
}
/* ---------------------------------- Fin Q CROSS ------------------------------------------*/

/* -------------------------------- debut charte frc ------------------------------------ */

#chartNbFrcParService-container {
    height: 320px;
}

chartNbFrcParService {
 
}

/* -------------------------------- fin charte frc ------------------------------------ */

@media screen and (max-width: 1080px) {
    #chartNbFrcParService-container {
        
    }
}

/* ------------------------------------ debut compteurs ------------------------*/

#DivCases {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxCounter {
    padding: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    min-height: 84px;
    width: 95%;
    max-width: 300px;
    background-color: #fafafa;
    border-radius: 4px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

.boxCounter p h3 {
    margin: 0;
    padding: 0;
}

.boxCounter p {
    background-color: white;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    text-align: center;
    font-size: 1.5em;
    width: 35%;
    margin: 0 auto;
    font-weight: bold;
}

.boxCounter h3 {
    border-bottom: 1px solid #E0E0E0;
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
}

.thumbnailCounter {
    width: 30%;
}

.counterContent {
    padding-left: 5px; /* pour éviter que le texte soit collé à l'image  */
    width: 70%;
}


.counterContent p {
    margin-top: 5px;
}

    .imgIndicateur { /* => images responsive */
        max-width: 100%;
        height: auto;
    }

.imgIndicateur {
    width: 50px; /* taille des images sur PC */
    border-radius: 100%;
    border: 1px solid #E0E0E0;
}

/* ------------------------------------ fin compteurs ------------------------*/

#clock {
    width: 900px;
    height: 200px;
    display: block;
    background: transparent;
    margin-right: 16px;
} 

/* -------------------------- debut top infos -------------------*/

#topInfos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
 
}

@media all and (max-width: 1080px) {
    #topInfos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



/* -------------------------- fin top infos -------------------*/

#SereniteStat
{
    margin-top: 16px;
}

#serenite-pic {
    width: 100%;
    max-width: 250px;
}

#production-left, #AIC-left {
    justify-content: flex-end;
}

@media all and (max-width: 600px) {
    #production, #idee, #AIC {
        flex-direction: column;
    }

    #production-left, #production-right, #otd-left, #otd-right, #idee-left, #idee-right, #AIC-left, #AIC-right {
        width: 100%;
    }

    #AIC-right {
        justify-content: space-around;
        align-items: center;
    }

    #production, #idee, #AIC, #securite, #qualite {
        margin-bottom: 10px;
    }
}



#serenite-pic {
    margin: 0 auto;
}
#contenuPage {
    margin-top: 60px;
}