
/* Pour la navbar */

#ctn-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#photo-profil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

#tit-pdp {
    padding-bottom: 20px;
}

#ctn-pdp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#popupProfil {
    opacity: 0;
    transition: opacity 0.3s ease;
}

    #popupProfil.show {
        display: flex;
        opacity: 1;
    }

#btn-modif {
    background-color: rgb(250, 120, 0);
    border-radius: 10px;
    border: none;
    padding: 6px 15px;
    margin: 2px;
}

#id-content {
    text-decoration: none;
    color: var(--bs-nav-link-color);
}

    #id-content:hover {
        text-decoration: none;
        color: lightgrey;
    }

#btn-input {
    margin: 15px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px black;
    text-align: center;
}
