@model GenerateurDFUSafir.Models.InfoAmelioration
@{
    ViewBag.Title = "Amelioration";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/form.css" rel="stylesheet" />
    <link href="~/Content/Proposition.css" rel="stylesheet" />

    string Date = DateTime.Now.ToString("dd-MM-yyyy");
    string DateAnglaise = Date.Substring(6, 4) + Date.Substring(2, 3) + "-" + Date.Substring(0, 2);
}


@using (Html.BeginForm("IdentifierCommande", "Reception", FormMethod.Post, new { id = "Form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="frm-box">
        <div class="frm-title">
            <h1 class="main-title">Identification de Commande</h1>
        </div>

        <div class="frm-row">
            <div class="frm-group">
                <label>Nom du Fournisseur</label>
                <input type="text" class="frm-input frm-required" name="Fournisseur" />
            </div>
            <div class="frm-group">
                <label>Date du Bon de Livraison</label>
                <input type="date" class="frm-input" name="DateBL" value="@DateAnglaise" max="@DateAnglaise" />
            </div>
        </div>

        <div class="frm-row">
            <div class="frm-group">
                <label>Numéro de Bon de Livraison</label>
                <input type="text" class="frm-input" name="NumeroBL" />
            </div>
            <div class="frm-group">
                <label>Numéro de Commande (si connu)</label>
                <input type="text" class="frm-input" name="NumeroCommande" />
            </div>
        </div>

        <div id="articles-container">
            <h3>Articles</h3>
            <div class="article-entry">
                <input type="text" class="frm-input" name="Articles[0].Reference" placeholder="Référence article" />
                <input type="text" class="frm-input" name="Articles[0].Libelle" placeholder="Nom sur BL" />
                <input type="number" class="frm-input" name="Articles[0].Quantite" placeholder="Quantité reçue" />
            </div>
        </div>
        <button type="button" class="frm-action" onclick="ajouterArticle()">+ Ajouter un article</button>

        <div class="frm-group">
            <label>Commentaire / Remarques</label>
            <textarea class="frm-input" name="Commentaire"></textarea>
        </div>

        <div class="frm-button-box">
            <button type="submit" class="btn btn-orange">VALIDER</button>
        </div>
    </div>
}

<script>
    let articleIndex = 1;
    function ajouterArticle() {
        const container = document.getElementById("articles-container");
        const div = document.createElement("div");
        div.classList.add("article-entry");
        div.innerHTML = `
            <input type="text" class="frm-input" name="Articles[${articleIndex}].Reference" placeholder="Référence article" />
            <input type="text" class="frm-input" name="Articles[${articleIndex}].Libelle" placeholder="Nom sur BL" />
            <input type="number" class="frm-input" name="Articles[${articleIndex}].Quantite" placeholder="Quantité reçue" />
        `;
        container.appendChild(div);
        articleIndex++;
    }
</script>



