@model GenerateurDFUSafir.Models.SECU_PROD
@{
    ViewBag.Title = "Accident";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Accident.css" rel="stylesheet" />

    var message = TempData["Message"] as string;
    var type = TempData["MessageType"] as string;


    if (!string.IsNullOrEmpty(message))
    {
        <script>
     window.onload = function () {
         showCustomAlert('@type', '@message');
     };
        </script>
        TempData.Remove("Message");
        TempData.Remove("MessageType");
    }

}

<div id="root"></div>

<script type="text/javascript" src="~/Scripts/alertes.js"></script>

@{
    var reactFiles = System.IO.Directory
        .EnumerateFiles(Server.MapPath("~/Scripts/react/assets"), "index-*.js")
        .Select(Path.GetFileName)
        .ToList();
}

@if (reactFiles.Any())
{
    <script type="module" src="~/Scripts/react/assets/@reactFiles.First()"></script>
}

@using Newtonsoft.Json
<script>
    window.reactData = @Html.Raw(JsonConvert.SerializeObject(Model));


</script>