<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link href="~/Content/home-slider.css" rel="stylesheet" />

</head>
<body>
    @* Valeur du ViewBag et autres paramètres Razor restent identiques *@
    @{
        ViewBag.Title = "Accueil";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="main">
        <div class="sections-container">
            <!-- SECTION 1 -->
            <div class="section section-1">
                <div class="content">
                    <!-- Zone de gauche avec image et textes -->
                    <div class="left-content">
                        <img src="./image/local_shipping.svg" alt="Local Shipping">

                    </div>
                    <!-- Zone de droite avec informations supplémentaires -->
                    <div class="right-content">
                        <div class="infossup">
                            <p class="infossup subtitle">Otd / Otr</p>
                            <div class="goal-box">
                                <div class="goal" id="ObjectifOtdBar">
                                    <p></p>
                                </div>

                            </div>
                            <h1><span class="counter" id="OtdSemaine">0</span> %</h1>
                            <h2 class="title">Cette semaine</h2>
                            <div class="subinfos">
                                <span><i class="fa-solid fa-truck"></i> OTD mois</span>
                                <span class="value"><span class="counter" id="OtdMois">0</span> %</span>
                            </div>
                            <div class="subinfos">
                                <span><i class="fa-solid fa-truck"></i> OTR semaine</span>
                                <span class="value"><span class="counter" id="OtrSemaine">0</span> %</span>
                            </div>
                            <a id="btn-acces" href="@Url.Action("Accueil", "Home")">Accès Accueil</a>
                            <div class="subinfos">
                                <span><i class="fa-solid fa-truck"></i> OTR mois</span>
                                <span class="value"><span class="counter" id="OtrMois">0</span> %</span>
                            </div>
                            <div class="subinfos">
                                <span><i class="fa-solid fa-truck"></i> Objectif OTD</span>
                                <span class="value"><span class="counter" id="ObjectifOtd">0</span> %</span>
                            </div>
                            <div class="subinfos">
                                <span><i class="fa-solid fa-truck"></i> Objectif OTR</span>
                                <span class="value"><span class="counter" id="ObjectifOtr">0</span> %</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SECTION 2 -->
            <div class="section section-2">
                <div class="content">
                    <div class="left-content">
                        <img src="./image/docs.svg" alt="Documents">
                    </div>
                    <div class="right-content">

                        <div class="infossup">
                            <p class="infossup subtitle">Satisfaction clients</p>
                            <div class="goal-box">
                                <div class="goal" id="ObjectifFrcBar">
                                    <p></p>
                                </div>
                            </div>
                            <div>
                                <h1><span class="counter" id="FrcAnnee">0</span> FRC</h1>
                            </div>
                            <h2 class="title">Cette année</h2>
                            <div class="subinfos">
                                <span><i class="fa-solid fa-face-smile"></i> Nombre au mois</span>
                                <span class="value"><span class="counter" id="FrcMois">0</span> FRC</span>
                            </div>
                            <div class="subinfos">
                                <span><i class="fa-solid fa-face-smile"></i> Objectif FRC</span>
                                <span class="value"><span class="counter" id="ObjectifFrc">0</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SECTION 3 -->
            <div class="section section-3">
                <div class="content">
                    <div class="left-content">
                        <img src="./image/euro.svg" alt="Euro">
                    </div>
                    <div class="right-content">
                        <div class="infossup">
                            <p class="infossup subtitle">Chiffre d'affaires facturé</p>
                            <h1><span class="counter" id="CaMois">0</span>€</h1>
                            <div class="subinfos">
                                <span><i class="fa-solid fa-calendar-days"></i> Mois dernier</span>
                                <span class="value"><span class="counter" id="CaMoisPrec">0</span> €</span>
                            </div>
                            <div class="subinfos">
                                <span><i class="fa-solid fa-calendar-days"></i> Année</span>
                                <span class="value"><span class="counter" id="CaAnnee">0</span> €</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SECTION 4 -->
            <div class="section section-4">
                <div class="content">
                    <div class="left-content">
                        <img src="./image/health_and_safety.svg" alt="Sécurité">
                    </div>
                    <div class="right-content">

                        <div class="infossup">
                            <p class="infossup subtitle">Sécurité</p>

                            <div>
                                <h1><span class="counter" id="NbJourSansAccident">0</span> Jours sans accident</h1>
                            </div>
                            <h2 class="title">Cette année</h2>
                            <div class="subinfos">
                                <span><i class="fa-solid fa-briefcase-medical"></i> Nombre de soins bénins</span>
                                <span class="value"><span class="counter" id="NbSoinsBenins">0</span></span>
                            </div>
                            <div class="subinfos">
                                <span><i class="fa-solid fa-briefcase-medical"></i> Nombre de presque accidents</span>
                                <span class="value"><span class="counter" id="NbPresqueAccident">0</span></span>
                            </div>
                            <div class="subinfos">
                                <span><i class="fa-solid fa-briefcase-medical"></i> Nombre de situations dangereuses</span>
                                <span class="value"><span class="counter" id="NbSituationDangereuse">0</span></span>
                            </div>
                            <div class="subinfos">
                                <span><i class="fa-solid fa-briefcase-medical"></i> Nombre d'actes dangereux</span>
                                <span class="value"><span class="counter" id="NbActesDangereux">0</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="conductix-logo">
        <img src="~/image/swirl.png" alt="Logo">
    </div>

    <script src="~/Scripts/slider.js"></script>
    <script src="~/Scripts/numcounter.js"></script>
</body>
</html>