@model GenerateurDFUSafir.Models.DataOperateurProd
@{
    ViewBag.Title = "ConfirmationEnvoiEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/ConnexionOperateur.css" rel="stylesheet" />
}

<body onload="init()">
    <div id="fondTransparent"></div>
    <div id="login-container">
        <div id="introduction">
            <h2 id="title">ConnecZEN</h2>
        </div>
        <div id="digi-container">
            <div>
                <p>Un mail vous a bien été envoyé à l'adresse suivante : @Model.Email </p>
            </div>

        </div>
        </div>

</body>




