@model GenerateurDFUSafir.Models.DataOperateurProd
@{
    ViewBag.Title = "ConfirmationEnvoiEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/ConnexionOperateur.css" rel="stylesheet" />
}

<body onload="init()">
    <div id="fondTransparent"></div>
    <div id="login-container">
        <div id="introduction">
            <h2 id="title">ConnecZEN</h2>
        </div>
        <div id="digi-container">
            <div>
                <p>Un mail vous a bien été envoyé à l'adresse suivante : @Model.Email </p>
                <strong>Afin de pouvoir définir ou redéfinir votre nouveau mot de passe.</strong>
                <!-- <p id="encouragement" style="color: orangered; padding: 30px; font-size: 20px; font-weight: bolder;"> Nous savons que c'est une sacrée épreuve, mais on croit en vous, vous allez y arriver !</p>-->
            </div>

        </div>
    </div>

</body>




