@model GenerateurDFUSafir.Models.DataOperateurProd
@{
    ViewBag.Title = "LienInvalideOuExpire";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/ConnexionOperateur.css" rel="stylesheet" />
}

<body onload="init()">
    <div id="fondTransparent"></div>
    <div id="login-container">
        <div id="introduction">
            <h2 id="title">ConnecZEN</h2>
        </div>
        <div id="digi-container">
            <div>
                <p>
                    Le lien est invalide.
                </p>
            </div>

        </div>
    </div>

</body>
